html {
  scroll-behavior: smooth;
}
   
body {
		font-family: Century Gothic ;
		color: #445552;
      background: #C2B8B2;
       
	}


h2, h3 {
		color: #4F3130;
	   }
      h3 {
           letter-spacing: 5px;

      }
      #header {
         height: 200px;
   width: 100%;
   background-color: #424B54;
   border-radius: 10px;
   text-align: center;
      }

#navegadorA ul{
   list-style-type: none;
   text-align: center;
}
#navegadorA li{
   display: inline;
   text-align: center;
   margin: 0 30px 0 0;
}
#navegadorA li a {
   padding: 5px 9px 3px 9px;
   color: #666;
   background-color: #eeeeee;
   border: 2px solid #ccc;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;   text-decoration: none;
}
#navegadorA li a:hover{
   background-color: #333333;
   color: #fffff;
}
#navegadorB ul{
   list-style-type: none;
   text-align: center;
}
#navegadorB li{
   display: inline;
   text-align: center;
   margin: 0 20px 0 0;
}
#navegadorB li a {
   padding: 2px 7px 2px;
   color: #666;
   background-color: #eeeeee;
   border: 2px solid #ccc;
   border-radius: 20px;
   text-decoration: none;
}
#navegadorB li a:hover{
   background-color: #333333;
   color: #fffff;
}

.footer {
   height: 200px;
   width: 100%;
   background-color: #424B54;
   border-radius: 10px;
   text-align: center;
      
 }

 div .logo {
   position:absolute;
   left:50%;
   margin-left:-900px;
   margin-top: 35px
}
   
div .logoinsta .logofb {
   float: right;
   margin: 0px 0px 15px 15px;
   text-align: center;
   }











